// color theme: https://color.adobe.com/pomegranate-explosion-color-theme-1923981/
$color1: #63A69F;
$color2: #F2E1AC;
$color3: #F2836B;
$color4: #F2594B;
$color5: #CD2C24;

#react {
  margin: 15px;

  .div-button {
    flex: 0 0 auto;
    text-align: center;
  }
  .div-button, .goal-row-button {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 5px;
  }

  .top-bar {
    margin: 0;
    color: $color5;
  }

  .navigation {
    display: flex;
    .navigation-side-bar {
      width: 180px;
      .div-button {
        color: white;
        background: $color3;
        border-color: white;
      }
    }
  }

  .main-app {
    flex: 1 1 180px;
    padding: 0 10px;

    .goalInputForm {
      .addGoalButton {
        margin-left: 70px;
        margin-right: 10px;
        margin-bottom: 40px;
      }

      .clearGoalsButton {
        margin-right: 10px;
      }

      .submitGoalsButton {
        margin-right: 10px;
      }
    }

    .goal-review-row {
      .goal-review-row-main {
        display: flex;
        .goal-review-row-title {
          flex: 1 1 auto;
        }
        .goal-review-row-complete, .goal-review-row-remove {
          margin-left: 10px;
        }
      }

      .goal-review-row-detail-input {
        width: 350px;
        resize: none;
      }
    }

    .goal-review-progress-bar {
      height: 30px;
      /*background: linear-gradient(to right, #2ecc71, #f1c40f, #e74c3c);*/
      background: linear-gradient(to left, rgba(46,204,113,1), rgba(241,196,15,0.87), rgba(231,76,60,0.75));
      border-radius: 15px;
      margin-bottom: 15px;
    }

    .goal-review-progress-bar-indicator {
      position: relative;
      top: 2px;
      height: 26px;
      background: rgba(255, 255, 255, .6);
      border-radius: 13px;
    }

    .goal-progress-entry {
      border: 1px solid gray;
      border-radius: 5px;
      margin: 10px;
      padding: 10px;
    }


    .div-button, .goal-row-button {
      border: 1px solid black;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
      margin: 0 0 10px 0;
      padding: 5px;
    }

    .goal-row-button {
    }

    .goalInput {
      width: 300px;
    }

    .goalInputTitle {
      display: inline-block;
      width: 70px;
    }
  }
}