html {
  margin: 15px;
}

.reflectTitle {
  margin-left: 70px;
}

.addGoalButton {
  margin-left: 70px;
  margin-right: 10px;
  margin-bottom: 40px;
}

.submitGoalsButton {
  margin-right: 10px;
}

.goal-review-row-title {
  font-weight: bold;
}

.goalInput {
  width: 300px;
}

.goalInputTitle {
  display: inline-block;
  width: 70px;
}