html {
  margin: 15px;
}

.reflectTitle {
  margin-left: 70px;
}

.addGoalButton {
  margin-left: 70px;
  margin-right: 10px;
  margin-bottom: 40px;
}

.goalInput {
  width: 300px;
}

.goalInputTitle {
  display: inline-block;
  width: 70px;
}